################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatorService
.vs/ProjectEvaluation/calculatorservice.metadata.v5.1
.vs/ProjectEvaluation/calculatorservice.projects.v5.1
